<h1>Burger Log</h1>
<div class="display">

    <div class="not-eaten">
        <ol>
            {{#each burgers}}
                {{#unless devoured}}
                    <li class="flex-item list-one">
                        {{burger_name}}
                        <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                            Devour
                        </button>
                    </li>
                {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="eaten">
        <ol>
            {{#each burgers}}
                {{#if devoured}}
                    <li class="flex-item list-two">
                        {{burger_name}}
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    </div>

</div>

<div class="burger-form">
    <h3>Enter a Burger</h3>
    <form action="auth" method="POST">
        <input type="text" name="burgerName" placeholder="Burger Name" required>
        <input type="submit">
    </form>
</div>