body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #4d4d4d;
}

li {
    margin-bottom: 10px;
}

ol {
    padding: 0;
    list-style-type: upper-roman;
}

h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: #4d4d4d;
    font-size: 20px;
}

.display h3 {
    padding: 0;
}

.burger-svg {
    width: 100px;
    margin: 10px auto;
}

.burger-form {
    width: 300px;
    margin: 0 auto;
}

.burger-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.burger-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

button {
    padding: 8px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    height: 35px;
}

.display {
    width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.not-eaten {
    width:300px;
    /* display: inline-block; */
    box-sizing: border-box;
    border: 1px solid #dddddd;
    counter-reset: section;
}

.list-one::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.eaten {
    width:300px;
    min-height: 150px;
    
    /* display: inline-block; */
    box-sizing: border-box;
    border: 1px solid #dddddd;
    counter-reset: section-two;
}

.list-two::before {
    counter-increment: section-two;
    content: counter(section-two) ". ";
}

@media screen and (max-width:700px) {

    .display {
        flex-direction: column;
        width: auto;
    }

    .burger-form {
        width: 290px;
    }

    .eaten {
        width:290px;
        margin: 20px auto 0 auto;
        /* display: inline-block; */
        box-sizing: border-box;
        border: 1px solid #dddddd;
        counter-reset: section-two;
    }

    .not-eaten {
        width:290px;
        /* display: inline-block; */
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        counter-reset: section;
    }

}